

      
body{
    background-image:url("image/simon-pasquesi-chess-piece-render.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover
    ;
}

header ul{
    position: relative;
    display: flex;
   margin-right :50px;
   margin-left: 10%;

}  
header ul li{
    position:relative;
    list-style: none ; 
}


.top_bare:link, .top_bare:visited {
    padding: 2px 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    position:relative;
    text-decoration:none;
    color: #000000;
    margin: 0 0;
    letter-spacing: 2px;
    font-weight: 500px;
    font-size:2em ;
    transition: 0.6s; 
    font-weight: bold;
    border-left:1px solid rgba(0, 0, 0, 0.1);
    border-right:1px solid rgba(0, 0, 0, 0.1);
    font-family:Arial, Helvetica, sans-serif;
}

.top_bare:hover, .top_bare:active, .logo  a:hover{

color: #ffffff;
text-shadow: 2px 2px 5px rgb(2, 2, 2) ;
background-color:rgba(0, 0, 0, 0.167)
}
.logo{
    
  display: flex;
    
}
.logo  a{
    top: 6px;
    width: 60px;
    height: 55px;
    padding-top :4px;
    position:absolute;
    left: 50px;
    text-decoration: none;
    box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.45);
    border-radius: 50%;
    text-align: center;

    overflow:hidden;
    
}



header{
    top: 0px;;
    left: 0;
    width: 100%;
    position: fixed;
    background-image: url("image/1510629-white-wallpaper-texture-1920x1080-iphone.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding:0px ;
    
    

}

.search-container {
    top:5px;

    right: 15px;;
    display: flex;
    align-items: center;
    margin-top: 1rem;
    position:absolute;
  }
  
  #search {
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 300px;
    background-color: #cccccca4;
  }
  
  #search-button {
    background-color: #9a9494ab;
    color: #030000;
    border: 1px solid black;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    margin-left: 0.5rem;
    font-style:;
    cursor: pointer;
  }
  
  #search-button:hover {
    background-color: #555;
  }
  #search:hover{
    border: 1px solid #2e2e2eb7;
    color: white;
    background-color: #2e2e2eb7;
  }
  #search:focus{
    border: 1px solid #2e2e2eb7;
    color: white;
    background-color: #2e2e2eb7;
  }
 

.case-texte {
    color: #ffffff;
    position: absolute;
    top:10%;
    left:450px;
    background-color: #8f7c7c00;
    backdrop-filter:blur(10px);
    border: 2px solid #e3d1d1;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

.chess_title {
    border: 1px solid black;
    margin-right: 78% ;
    border-radius: 6px;
    padding: 0 4px;
    padding-left: 4px;
    background-color: #e3e8ffb5;
    color: rgb(0, 0, 0);
}.chess_title2 {
    border: 1px solid black;
    margin-right: 85% ;
    border-radius: 6px;
    padding: 0 4px;
    padding-left: 4px;
    background-color: #e3e8ffb5;
    color: rgb(0, 0, 0);
}
.chess_title3 {
    border: 1px solid black;
    margin-right: 67% ;
    border-radius: 6px;
    padding: 0 4px;
    padding-left: 4px;
    background-color: #e3e8ffb5;
    color: rgb(0, 0, 0);
}
p {
    font-size: 16px;
    color: #ffffff;
    text-indent: 1cm;
}

  

